# Maven
target/

# NetBeans
nbproject/private/
nbbuild/
dist/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Configuración local (NO subir credenciales)
src/main/resources/database.properties